{% set elasticsearch_map = salt['grains.filter_by']({
    'default': {
        'pkg': 'elasticsearch',
        'use_repo': True,
    },
    'RedHat': {
        'pkg': 'elasticsearch',
        'pip_pkg': 'python2-pip',
    },
    'Debian': {
        'pkg': 'elasticsearch',
        'pip_pkg': 'python-pip',
    }
},
merge=salt['pillar.get']('elasticsearch', {}),
default='default')
%}
